body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.container {
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(15, 15, 36);
  width: 500px;
  text-align: center;
  max-height: 380px;
  overflow-y: auto;
  box-shadow: 0px 10px 30px rgba(122, 126, 193, 0.8);
}

h1 {
  font-size: 2.5rem;
  color: #f0f5b0;
  margin-bottom: 2rem;
}

input {
  font-size: 1.2rem;
  width: 65%;
  padding: 8px 8px;
  background-color: #fcba03;
  color: black;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  border: 0px solid;
  text-align: center;
  height: 2rem;
  width: 3.6rem;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete {
  margin-right: 2rem;
  font-size: 1rem;
  height: 2rem;
  width: 3.9rem;
  color: black;
  background-color: #e62e00;
  border-radius: 6px;
  padding: 8px 8px;
  transition: transform 0.2s ease-in-out;
}

/* .delete:hover {
  color: #e62e00;
  background-color: black;
} */

.delete:hover {
  transform: scale(1.2);
  background-color: black;
  color: #e62e00;
}

.add {
  font-size: 1rem;
  margin-left: 1rem;
  color: black;
  background-color: #4afc4a;
  transition: transform 0.2s ease-in-out;
}

.add:hover {
  transform: scale(1.2);
  background-color: #2ecb2e; /* Ek thoda dark green touch */
}

ul {
  margin-top: 2rem;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.2rem;
  padding: 12px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}

.empty-message {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff4747;
  margin-top: 2rem;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
